* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 1px solid #ccc;
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

.header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #ccc;
    width: 100%;
    height: 180px;
    color: white;
    text-align: center;
}

.menu {
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    float: left;
    width: 20%;
    line-height: 50px;
    background-color: #FF9933;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

.menu ul li:hover {
    background-color: #9b450c;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.main-content {
    border: 1px solid #ccc;
    width: 79%;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

.sidebar {
    border: 1px solid #ccc;
    width: 20%;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

ul.list-sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list-sidebar li {
    margin-top: 7px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #FF9933;
    padding: 10px 0;
}

ul.list-sidebar li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul.list-sidebar li:hover {
    background-color: #9b450c;
}

ul.list-product {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.list-product li {
    border: 1px dashed #ccc;
    margin: 7px;
    width: 18%;
    float: left;
    background-color: #FF9933;
}

ul.list-product li img {
    width: 100%;
    height: 150px;
}

ul.list-product li h3 {
    text-align: center;
    color: white;
}

ul.list-product li p {
    text-align: center;
    color: red;
    font-weight: bold;
}
ul.list-product li button {
    width: 100%;
    height: 30px;
    background-color: #9b450c;
    color: white;
    border: none;
    cursor: pointer;
}

#main {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.footer p {
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    background: #FF9933;
    text-align: center;

}

.clear {
    clear: both;
}